.solidDivider {
  color: black;
}

.textColor {
  color: black;
}

.moviePosterSize {
  max-width: 100%;
  height: auto;
  max-height: 260px;
}

.authorPhotoSize {
  max-width: 100%;
  height: auto;
  max-height: 260px;
}

.bookCoverSize {
  max-width: 100%;
  height: auto;
  max-height: 260px;
}

input:not([type]):disabled,
input:not([type])[readonly="readonly"],
input[type="text"]:not(.browser-default):disabled,
input[type="text"]:not(.browser-default)[readonly="readonly"],
input[type="password"]:not(.browser-default):disabled,
input[type="password"]:not(.browser-default)[readonly="readonly"],
input[type="email"]:not(.browser-default):disabled,
input[type="email"]:not(.browser-default)[readonly="readonly"],
input[type="url"]:not(.browser-default):disabled,
input[type="url"]:not(.browser-default)[readonly="readonly"],
input[type="time"]:not(.browser-default):disabled,
input[type="time"]:not(.browser-default)[readonly="readonly"],
input[type="date"]:not(.browser-default):disabled,
input[type="date"]:not(.browser-default)[readonly="readonly"],
input[type="datetime"]:not(.browser-default):disabled,
input[type="datetime"]:not(.browser-default)[readonly="readonly"],
input[type="datetime-local"]:not(.browser-default):disabled,
input[type="datetime-local"]:not(.browser-default)[readonly="readonly"],
input[type="tel"]:not(.browser-default):disabled,
input[type="tel"]:not(.browser-default)[readonly="readonly"],
input[type="number"]:not(.browser-default):disabled,
input[type="number"]:not(.browser-default)[readonly="readonly"],
input[type="search"]:not(.browser-default):disabled,
input[type="search"]:not(.browser-default)[readonly="readonly"],
textarea.materialize-textarea:disabled,
textarea.materialize-textarea[readonly="readonly"] {
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

/* used to hide html elements on page */
.hidden {
  display: none;
}



#dropdown1 {
  top: auto !important;
  height: 500px;
}

@media screen and (max-width: 760px){
  
  
  .nav-wrapper a{
 font-size: medium;
 margin: 0px;    

  }}